<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> <%= "#{t('hello')}, #{@user.first_name}." %></h2>
    <h2>
      <%= t(:description1) %> 
    </h2>
    <h3>
      <%= "#{t('title')}: #{@book.title}, #{t('genre')}: #{@book.genre}, #{t('author')}: #{@book.author}, #{t('year')}: #{@book.year}" %>
    </h3>
    <h3>  <%= "#{t('rented_at')}: #{@rent.start_date}" %>  </h3>
    <h3>  <%= "#{t('rent_ends')}: #{@rent.end_date}" %>  </h3>
  </body>
</html>